.code {
    padding: 5px;
    text-align: left;
    margin-left: 15px;
}

.code-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 30px;
}

.code,
.code *,
.code-container,
.code-container * {
    font: 13px/1.4em Monaco, Lucida Console, monospace
}

.code-container {
    border: 1px solid #9F9F9F;
}

.code-container,
.code {
    color: #000000;
    background-color: #F1F1F1;
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Consolas, Inconsolas, "Courier New", monospace;
    font-size: 14px;
    color: #333333;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
code {
    padding: 2px 4px;
    color: #d14;
}