<!-- ******************************** -->
<footer id="social-media">
    <ul>
        <li><a href="https://twitter.com/lnxdork" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/lnxdork" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://keybase.io/lnxdork" target="_blank"><i class="fab fa-keybase"></i></a></li>
        <li><a href="https://www.patreon.com/lnxdork" target="_blank"><i class="fab fa-patreon"></i></a></li>
    </ul>
    <p> &copy; <script>
            document.write(new Date().getFullYear());
        </script> lnxdork
    </p>
    <p><a href="privacy.html">Privacy-Policy</a></p>
</footer>
</body>

</html>