<!DOCTYPE html>
<html lang="en">

<head>
    <title>lnxdork: Equus ex Machina ♘ </title>
    <meta charset="UTF-8">
    <meta name="description" content="lnxdork: Equus ex Machina ♘ Privacy Policy.">
    <meta http-equiv="Content-Security-Policy" content="default-src https:">
    <link rel="icon" href="images/lnxdork_50pct.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome-min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top - 100
                }, 900, 'swing', function () {
                    window.location.hash = target - 100;
                });
            });
        });
    </script>
</head>

<body id="top">
    <header>
        <h2><a href="#" target="_blank">lnxdork</a></h2>
        <nav>
            <ul>
                <li><a href="#">Top</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="posts/index.html">Blog</a></li>
                <li><a href="#social-media">Links</a></li>
            </ul>
        </nav>
    </header>
    <!-- ******************************** -->
    <h1>Privacy Policy for lnxdork</h1>

    <p>At lnxdork.com, accessible from https://lnxdork.com, one of the main priorities is the privacy of visitors.
        This Privacy Policy document contains types of information collected and recorded by lnxdork.com and how it may
        be used if it were collected.</p>

    <p>If you have additional questions or require more information about the Privacy Policy, do not hesitate to contact
        lnxdork.</p>

    <p>This Privacy Policy applies only to online activities and is valid for visitors to the website lnxdork.com with
        regards
        to the information shared with lnxdork.com. This policy is not applicable to any
        information collected offline or via channels other than this website.</p>

    <h2>Consent</h2>

    <p>By using this website, you hereby consent to this Privacy Policy and agree to its terms.</p>

    <h2>Information collected: None</h2>

    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be
        made clear to you at the point lnxdork asks you to provide your personal information. (lnxdork won't ask for
        any.)</p>
    <p>If you contact lnxdork directly, they may receive additional information about you such as your name, email
        address,
        phone number, the contents of the message and/or attachments you may send, and any other information you may
        choose to provide.</p>

    <h2>How lnxdork uses your information</h2>

    <p>lnxdork uses the information collected in various ways, including to:</p>

    <ul>
        <li>lnxdork does not collect any data. If they did, the reasons would go here.</li>
    </ul>

    <h2>Log Files</h2>

    <p>lnxdork.com is hosted via GitHub pages & lnxdork does not know if there are logs. Something to look into.</p>

    <h2>Advertising Partners Privacy Policies</h2>

    <p>There are no advertisers on, for, or with lnxdork.com</p>

    <h2>Third Party Privacy Policies</h2>

    <p>lnxdork.com's Privacy Policy does not apply to other advertisers or websites. Thus, lnxdork is advising you to
        consult the respective Privacy Policies of third-party ad servers for more detailed information. It may
        include their practices and instructions about how to opt-out of certain options. </p>

    <p>You can choose to disable cookies through your individual browser options. To know more detailed information
        about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

    <!-- ******************************** -->
    <footer id="social-media">
        <ul>
            <li><a href="https://twitter.com/lnxdork" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://github.com/lnxdork" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://keybase.io/lnxdork" target="_blank"><i class="fab fa-keybase"></i></a></li>
            <li><a href="https://www.patreon.com/lnxdork" target="_blank"><i class="fab fa-patreon"></i></a></li>
        </ul>
        <p> &copy; <script>
                document.write(new Date().getFullYear());
            </script> lnxdork
        </p>
    </footer>
</body>

</html>